html {
  height: 100vh;
  max-width: 100%;
  margin: 0 !important;
  padding: 0 !important;
}
body {
  height: calc(100vh - 60px);

  max-width: 100%;
}
.header {
  display: flex;
  align-items: center;
}
.content {
  padding: 30px;
  height: 100vh;
}

.header-title {
  color: white !important;
}

.physician-info-image {
  width: 90%;

  box-sizing: border-box;
}

.physician-info-container {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 40px;
  box-sizing: border-box;
}
